/*-------- General -------*/


body{
    margin:0;
    background-color: #fcdf6b;
    font-family: "Work Sans", sans-serif;
}

a{
    text-decoration: none; /*Quita los subrayados de los enlaces*/
}


/*------ Header --------*/
.cabecera{
    background-color: #010101;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.cabecera__logo{
    width: 30%;
}

.cabecera__nav__list{
    display: flex;
}

.cabecera__nav__list__enlace{
    margin-right: 1.75rem;
    color: aliceblue;
    font-size: 1.5rem;
}

